# /etc/ssh/sshd_config

AddressFamily inet
AllowAgentForwarding no
AllowStreamLocalForwarding no
AllowTcpForwarding no
AllowUsers root
AuthorizedKeysFile %h/.ssh/authorized_keys
Banner /etc/ssh/banner
ChallengeResponseAuthentication no
Ciphers aes256-ctr
ClientAliveInterval 30
Compression yes
DebianBanner no
FingerprintHash sha256
GSSAPIAuthentication no
GSSAPICleanupCredentials yes
GatewayPorts no
HostKey /etc/ssh/ssh_host_dsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
HostKeyAlgorithms ssh-ed25519
HostbasedAuthentication no
IgnoreRhosts yes
IgnoreUserKnownHosts yes
KerberosAuthentication no
KerberosOrLocalPasswd no
KerberosTicketCleanup yes
KexAlgorithms diffie-hellman-group18-sha512
ListenAddress 0.0.0.0
LogLevel INFO
LoginGraceTime 30
MACs hmac-sha2-512
MaxAuthTries 3
MaxSessions 10
MaxStartups 10:51:15
PasswordAuthentication yes
PermitEmptyPasswords no
PermitRootLogin yes
PermitTunnel no
PermitUserEnvironment no
PidFile /run/sshd.pid
Port 22
PrintLastLog yes
PrintMotd yes
Protocol 2
PubkeyAuthentication no
StrictModes yes
SyslogFacility AUTH
TCPKeepAlive yes
UseDNS yes
UsePAM yes
VersionAddendum none
X11Forwarding no
